
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>@ViewData["Title"]</title>

  <environment include="Development">
      <link rel="stylesheet" href="@Url.Content("~/Content/plugins/fontawesome-free/css/all.min.css")">
      <link rel="stylesheet" href="@Url.Content("~/Content/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css")">
      <link rel="stylesheet" href="@Url.Content("~/Content/plugins/icheck-bootstrap/icheck-bootstrap.min.css")">
      <link rel="stylesheet" href="@Url.Content("~/Content/plugins/jqvmap/jqvmap.min.css")">
      <link rel="stylesheet" href="@Url.Content("~/Content/dist/css/adminlte.min.css")">
      <link rel="stylesheet" href="@Url.Content("~/Content/plugins/overlayScrollbars/css/OverlayScrollbars.min.css")">
      <link rel="stylesheet" href="@Url.Content("~/Content/plugins/daterangepicker/daterangepicker.css")">
      <link rel="stylesheet" href="@Url.Content("~/Content/plugins/summernote/summernote-bs4.min.css")">
  </environment>
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Preloader -->
@*<partial  name="_preloader"/>*@

   <!-- Navbar -->
   <partial name="_TopMenu" />

  <!-- Main Sidebar Container -->
  <partial name="_sidebar" />

  <!-- Content Wrapper. Contains page content -->
   @RenderBody()
 
  <!--Footer-->
  <partial name="_footer" />
 
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>

 <environment include="Development">
     <script src="@Url.Content("~/Content/plugins/jquery/jquery.min.js")"></script>
     <script src="@Url.Content("~/Content/plugins/jquery-ui/jquery-ui.min.js")"></script>
     <script src="@Url.Content("~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js")"></script>
     <script src="@Url.Content("~/Content/plugins/chart.js/Chart.min.js")"></script>
     <script src="@Url.Content("~/Content/plugins/sparklines/sparkline.js")"></script>
     <script src="@Url.Content("~/Content/plugins/jqvmap/jquery.vmap.min.js")"></script>
     <script src="@Url.Content("~/Content/plugins/jqvmap/maps/jquery.vmap.usa.js")"></script>
     <script src="@Url.Content("~/Content/plugins/jquery-knob/jquery.knob.min.js")"></script>
     <script src="@Url.Content("~/Content/plugins/moment/moment.min.js")"></script>
     <script src="@Url.Content("~/Content/plugins/daterangepicker/daterangepicker.js")"></script>
     <script src="@Url.Content("~/Content/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js")"></script>
     <script src="@Url.Content("~/Content/plugins/summernote/summernote-bs4.min.js")"></script>
     <script src="@Url.Content("~/Content/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js")"></script>
     <script src="@Url.Content("~/Content/dist/js/adminlte.js")"></script>
     <script src="@Url.Content("~/Content/dist/js/demo.js")"></script>
     <script src="@Url.Content("~/Content/dist/js/pages/dashboard.js")"></script>
 </environment>
 <script>$.widget.bridge('uibutton', $.ui.button)</script>
 @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
